section{
    padding-left: 30px;
    padding-right: 30px;
}
section>h1{
    font-size: 30px;
}
section>h2{
    font-size: 17px;
}
body{
    color: rgb(50, 44, 44);
}
footer{
    padding: 30px;
    background-color: #0e0e88d6;
    color: rgb(255, 255, 255);
}
#foot{
    display: flex;
    flex-direction: row;
    justify-content:left;
}
#foot>div{
    width: 23%;
    margin-right: 20px;
}
#foot>div>p>a{
    color: rgb(229, 210, 210);
    text-decoration: none;
}
#foot>div>p>a:hover{
    text-decoration: underline;
}
#overfoot{
    background-image: url(images/pic10.jpeg);
    background-position: center;
    background-size: cover;
}

#move{
    text-align: center;
}
#move>h1{
    font-size: 25px;
}#move>h2{
    font-size: 17px;
}
#director{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#director>div{
    width: 40%;
    margin: 10px;
    text-align: center;
}
#director>div>img{
    width: 100%;
    height: 400px;
}
#director>#pic{
    border: 1px solid grey;
}
#pic{
    background-color: rgb(192, 185, 185);
}
#pad{
    padding: 40px;
}
#formdiv >input{
background-color:#cacaf1d6;
border: 1px solid rgb(184, 180, 180);
padding: 7px;
margin: 5px;
width: auto;
}
#formdiv >label{
    margin: 5px; 
}
#formdiv >label>span{
    color: rgb(181, 5, 5);
    font-size: 12px;
}


#submit{
    background-color: #e94d1c;
    border: 0px solid rgb(184, 180, 180);
    padding: 9px;
    color: white;
    margin-left: 5px;
}
#formdiv>a{
    text-decoration: none;
    color: rgb(99, 94, 94);
    font-size: 15px;
}
#formdiv>a:hover{
    text-decoration:underline;
    color: red;
}

#container{
    height: auto;
    display: flex;
    flex-direction: row;
}
#container>div{
    width: 33.3%;
    height: auto;
    text-align: center;
}
#border{
    border:1px solid #0e0e8892;
}
@media screen and (max-width:600px){
    #border{
        border:0px solid #0e0e8892;
    }
    .hide{
        display: none;
    }
    #container>div{
       width: 100%;
    }
    section>h1{
        font-size: 20px;
    }
    #pad{
        padding: 20px;
    }
    #foot{
        flex-direction: column;
    }
    #foot>div{
        width: auto;
    }
    #director>div{
        width: auto;
        margin: 10px;
    }
    #director{
        display: flex;
        flex-direction: column;
}}