body{
    margin: 0;
    padding: 0;
}
body {
  font-family: 'Inter';
  background-image: url(images/w);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: visible;
}
header{
    color: white;
}
header>div>div>span{
  text-align: center;
}
#bg{
  background-color: #0e0e88;
}
header>div>div>span>h1{
    color: white;
    font-size:28px;
    font-weight: 700;
    text-shadow: 2px 2px 10px #0e0e88;
}
#side{
  width: 25%;
}
#side>ul>li{
  text-align: center;
  background-color: #0e0e88;
  list-style-type: none;
  margin: 10px;
  padding: 5px;
  border-radius: 7px;
  transition: font-size 0.5s;
}
#side>ul>li>a{
  color: white;
  text-decoration: none;
}
#side>ul>li:hover{
  font-size: small;
}
header>div >div>span>img{
  width: 100px;
  margin-top: 10px;
  margin-left: -50%;
}
header >div>div>ul{
  text-align: center;
  padding: 10px;
}
header>div >div>ul li{
  display: inline;
  margin-right: 30px;
 cursor: pointer;
}
header>div >div>ul>li>span{
  font-weight: 600;
}
header >div>div>ul>li>a{
color: white;
text-decoration: none;
font-weight: 600;
}

header>div >div>ul> li:hover{
border-bottom: 1px solid white;
}
.nav-container {
    position: relative;
    display: inline-block;
    
  }
  
  
  #dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0e0e88;
    padding: 10px;
    width: 200px;
    text-align: center;
  color: white;
  }
  
  #dropdown a:hover {
    background-color: rgb(255, 255, 255);
    color: #0e0e88;
  }
  
  #dropdown a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    display: block;
    font-weight: 600;
    padding-bottom: 10px;
    
  }

  
  #hoverer {
    cursor: pointer;
  }
  
  /* Show the dropdown when either the "Services" link or the dropdown itself is hovered */
  #hoverer:hover + #dropdown,
  #dropdown:hover {
    display: block;
    transition: 2s;
  }
  #ul{
    background-color: #0e0e88;
    color: white;
     text-align: center;
     font-weight: bolder;
     display: none;
     text-align: left;
  }
  #ul li{
    list-style-type: none;
    margin: 10px;
    padding: 0;
}
#ul li a{
  text-decoration: none;
  color: white;
}
#ul li a:hover{
  background-color: white;
  color:#0e0e88;
  padding: 10px;
}
#ul {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

#span{
  border: 1px solid black;
  position: absolute;
  top: 30px;
  right: 40px;
  padding: 7px;
  display: none;
}
aside{
  display: none;
  position: sticky;top: 0;background-color: white;
}
aside>div>img{
  width: 70px;
  margin: 10px;
  display: none;
}
#firstUp{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0e0e88;
  color: white;
}
#firstUp > div{
  width: 45%;
}
#sp{
  padding-left: 20px;
}

#second{
  position: relative;
  top: -30px;
  z-index: -1;
  margin-left: 7%;
  margin-right: 7%;
 }

.full-width-image {
  width:100%;
  height:400px;
  border-radius: 5px;
}




.previous-button,
.next-button {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.previous-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

#cover{
  background-image: url(images/pic8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width:600px){
#firstUp{display: none;} 
 aside{
    display: block;
  display: flex;flex-direction: row;
  }
 
  aside>div>img{
    width: 70px;
    margin: 10px;
    display: block;
  }
  #span{
    display: block;
  }
  #ul{
    display: block;
  }
  header{
    display: none;
  }
  #second{
    margin: 0;
   }
  
   .previous-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
}